.border-rose {
    border: #3D0A05 solid 2px;
}

.cart-section {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-color: #f7f0f0;
}

h1, h3, a, p, h4, h6, h2, h5, label, small, input, ul, select, textarea {
    font-family: 'IBM Plex Serif', serif;
}

.bg-rose {
    background-color: #3D0A05;
}

.text-rs {
    color: #3D0A05;
}