
  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../asset/image/wedding_placeholder2_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
}

h1,
h3,
h2,
a,
p,
h4 {
    font-family: 'IBM Plex Serif', serif;
}

.book-btn:hover {
    background-color: white !important;
    color: black;
    transition: 0.3s;
}

.service-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.text-redlue {
    color: #3D0A05;
}

.border-redlue {
    border: solid #3D0A05 2px;
}

.about-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.about-image {
    width: 400px;
    height: 400px;
    object-fit: cover
}

.plannings-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.planning-card {
    position: relative;
    height: 360px;
    width: 500px;
    background-image: url('asset/image/catering_placeholder.jpg');
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(61, 10, 5, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(61, 10, 5, 1);
    box-shadow: 0px 0px 10px 0px rgba(61, 10, 5, 1);
    border-radius: 10px;
    overflow: hidden;
}

.planning-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.text-a{
    width: 50%;
}
.planning-card>* {
    position: relative;
    z-index: 2;
}

.btn-plan-card:hover {
    background-color: white !important;
    color: black !important;
    border: #3D0A05 solid 2px;
    transition: 0.2s;
}

.calculator-card {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(61, 10, 5, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(61, 10, 5, 1);
    box-shadow: 0px 0px 10px 0px rgba(61, 10, 5, 1);
}
.box-plannings{
    border: 2px solid #3D0A05;
    padding: 15px;
}
.box-plannings{
    max-width: 100%;
}
.text-box-plannings h2{
    font-size: 24px;
    font-weight: 600;
    color: #3D0A05;
}
.box-overflow{
    overflow:  scroll;
    max-height: 150px;
    overflow-x: hidden;
    gap: 20px;
    display: grid;
}
/*  */
.box-check{
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-check > input{
    margin-right: 25px;
}
.box-check > input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 30px;
}

