#box-overflow::-webkit-scrollbar{
    width: 10px;
}

#box-overflow::-webkit-scrollbar-thumb{
    background-color: #3D0A05 !important;
    border-radius: 10px;
}

#box-overflow::-webkit-scrollbar-track{
    background-color: #3d0a0550;
    border-radius: 10px;
}

.text-redlue {
    color: #3D0A05;
}
