.register-section {
    overflow: hidden;
    position: relative;
}

.col-a {
    background-image: url(../asset/image/bg-login.png);
    background-size: cover; /* Ensure image covers the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

h1, h3, a, p, h4, h6, label, small, input {
    font-family: 'IBM Plex Serif', serif;
}

.bg-rose {
    background-color: #3D0A05;
}

